<?xml version="1.0"?>
<config>
    <modules>
        <Firebear_Fastregistration>
            <version>1.0.3</version>
        </Firebear_Fastregistration>
    </modules>
    <global>
        <blocks>
            <fastregistration>
                <class>Firebear_Fastregistration_Block</class>
            </fastregistration>
        </blocks>
        <helpers>
            <fastregistration>
                <class>Firebear_Fastregistration_Helper</class>
            </fastregistration>
        </helpers>
        <resources>
            <fastregistration_setup>
                <setup>
                    <module>Firebear_Fastregistration</module>
                    <class>Firebear_Fastregistration_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fastregistration_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <fastregistration>
                <use>admin</use>
                <args>
                    <module>Firebear_Fastregistration</module>
                    <frontName>fastregistration</frontName>
                </args>
            </fastregistration>
        </routers>
    </admin>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <fastregistration before="Mage_Customer_AccountController">Firebear_Fastregistration</fastregistration>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <fastregistration module="Firebear_Fastregistration">
                    <file>fastregistration.xml</file>
                </fastregistration>
            </updates>
        </layout>
    </frontend>
    <default>
        <fastregistration>
            <general>
                <enabled>1</enabled>
                <show_password>1</show_password>
            </general>
        </fastregistration>
    </default>
</config>